<div class="row">
    <div class="col-md-6">
        <img src="img/fib.png" class="img-responsive center-block" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>Wellcome to Isuea traker ASW!</h2>
        <p>
            We are a group of students from the fib, and this is the result of a project from the subject of ASW.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <a href="https://bitbucket.org/paualos3/client-isuea-traker-asw" class="btn btn-primary btn-block">
            <i class="fa fa-bitbucket fa-5x"></i>
        </a>
    </div>
</div>