<div class="row">
    <div class="col-md-12" id="about">
        <h2>Welcome to Isuea traker ASW!</h2>
        <p>
            We are a group of students from the fib, and this is the result of a project from the subject of ASW.
        </p>
        <div id="intro" class="box generalbox boxaligncenter p-y-1"><div class="no-overflow" id="yui_3_17_2_1_1515365256020_48"><h3>Què inclou el Darrer Lliurament?</h3>
<p>Per a aquest darrer lliurament heu d'implementar un <strong>Client Web Responsive implementat amb un Front-End JavaScript Framework de la vostra elecció </strong>(Angular, React, Vue, ...) <strong>que consumeixi la vostra API REST</strong>. Aquest client web ha de proporcionar les mateixes funcionalitats que la webapp del Primer lliurament, <b>excepte&nbsp;</b>l'autentificació d'usuaris (podeu tenir l'api key <em>hardcodejada</em>).&nbsp;</p>
<h3>Què s'ha de lliurar?</h3>
<p>El vostre repositori&nbsp;Bitbucket/GitHub és el vostre lliurament, així com la demo que fareu a classe del vostre Client Web nou. Per tant, assegureu-vos que al vostre repositori hi ha tota la info necessària. Concretament:</p>
<ul id="yui_3_17_2_1_1515365256020_54">
<li>Issue Tracker amb la info de com us heu distribuït les tasques i les incidències/problemes que heu tingut..</li>
<li>Un document (penjat com a pdf a docs/tercer_lliurament.pdf) on s'expliqui el <strong>disseny intern</strong> del vostre client web:
<ul>
<li>Descripció dels components interns que conformen el vostre Client Web. Afegiu-hi un diagrama de classes per fer ho més entenedor.</li>
<li>Descripció de com es processa una petició en el vostre client a partir de l'esdeveniment generat per l'usuari fins al moment de fer la crida a la vostra API REST. Afegiu-hi un parell de diagrames de seqüència (un que comporti fer un GET a la vostra API i un altre que correspongui a un POST).</li>
</ul>
</li>
<li id="yui_3_17_2_1_1515365256020_53">Pàgina Principal amb la següent info:
<ul id="yui_3_17_2_1_1515365256020_52">
<li id="yui_3_17_2_1_1515365256020_51">Link a la pàgina del vostre Client Web &nbsp;(desplegat a heroku o similar).</li>
</ul>
</li>
</ul>
<p>Per comoditat vostra, aquest cop potser us anirà més bé tenir un repositori diferent del que heu utilitazat per als lliurements anteriors. Si escolliu aquesta opció, no oblideu d'afegir-me com a usuari del repo (bitbucket: fib_was, github: carlesf)</p>
<h3>Com s'ha de lliurar?</h3>
<p>Un membre de l'equip ha de clicar a sobre el botó "Afegir Tramesa" que hi ha a sota d'aquesta pàgina i editar el camp de text que apareix per tal d'escriure-hi la URI del vostre repositori Bitbucket/GitHub.&nbsp;</p>
<h3>Com s'avaluarà?</h3>
<ul id="yui_3_17_2_3_1449086088976_66">
<li>Info del repositori (pàgina principal, issue tracker): 10%</li>
<li>Document del disseny intern del Client Web: 30%</li>
<li>Implementació Client Web: 60 %</li>
</ul>
<p>Cada membre del grup tindrà una nota individualitzada que es calcularà multiplicant la nota del lliurament pel "coeficient de participació" de l'alumne. Aquest "coeficient de participació" es calcularà a partir de la valoració feta pels companys de grup a través de l'<a href="http://atenea.upc.edu/mod/feedback/view.php?id=1420465">enquesta penjada a Atenea</a>.</p>
<h3>Què farem a classe?</h3>
<ol id="yui_3_13_0_3_1429786463376_497">
<li>Fareu la demo del Client Web</li>
</ol></div></div>
    </div>
</div>
<h2>Enllaç al repositori del projecte</h2>

<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <a href="https://bitbucket.org/paualos3/client-isuea-traker-asw" class="btn btn-primary btn-block">
            <i class="fa fa-bitbucket fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2 col-md-offset-2">
        <img src="img/fib.png" class="img-responsive center-block" id="about-image"></img>
    </div>
</div>