<div=class nav-header>
  <h1>Issues</h1> 
</div>

<div>FILTER BY : 
    <a ng-Click="filterIssues()" class="btn btn-primary">All</a> 
    <a ng-Click="myIssues()" class="btn btn-primary btn-info">Mine</a>
    <a ng-Click="watchingIssues()" class="btn btn-primary btn-warning">Watching</a>
    <a ng-Click="filterIssues('Close')" class="btn btn-primary btn-danger">Closed</a>
  </div>
<br>

<div class="row">
    <div class="col-md-12">
        <div id="customer-table">
            <table class="table table-hover">
                <thead>
                    <th>Title</th>
                    <th>Created by</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Asigned to</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Votes</th>
                </thead>
                <tr ng-repeat="(id, issue) in issues">
                    <td><a href="/issues/{{issue.id}}">{{issue.issue}}</a></td>
                    <td><a href="" ng-Click="filterIssuesByOwner(issue.user)">{{issue.user}}</a></td>
                    <td><a href="" ng-Click="filterIssues(issue.category)">{{issue.category}}</a></td>
                    <td><a href="" ng-Click="filterIssues(issue.priority)">{{issue.priority}}</a></td>
                    <td><a href="" ng-Click="filterIssues(issue.status)">{{issue.status}}</a></td>
                    <td><a href="" ng-Click="filterIssuesByAssignee(issue.assignee)">{{issue.assignee}}</a></td>
                    <td><span am-time-ago="issue.created_at"></span></td>
                    <td><span am-time-ago="issue.updated_at"></span></td>
                    <td>{{issue.Votes}}</td>
                </tr>
            </table>
        </div>
        <pagination total-items="issues.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
    </div>
</div>