<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="well">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" ng-model="form.title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" ng-model="form.description">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select name="singleSelect" class="form-control" id="category" ng-model="form.category">
                  <option value="Task">Task</option></option>
                  <option value="Bug">Bug</option>
                  <option value="Proposal">Proposal</option>
                  <option value="Enhancement">Enhancement</option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="assignee">Assign to</label>
                <select name="singleSelect" class="form-control" id="assignee" ng-model="form.assignee">
                  <option value="Pau Alos">Pau Alos</option>
                  <option value="Miguel “STGHMAAV” Álvarez">Miguel “STGHMAAV” Álvarez</option>
                  <option value="Oriol Saborido Orús">Oriol Saborido Orús</option>
                  <option value="Gerard Esteve Villuendas">Gerard Esteve Villuendas</option>
                  <option value="Carles Farré">Carles Farré	</option>
                </select>
            </div>
            <div class="form-group">
                <label for="priority">Priority</label>
                <select name="singleSelect" class="form-control" id="priority" ng-model="form.priority">
                  <option value="Blocker">Blocker</option>
                  <option value="Critical">Critical</option>
                  <option value="Major">Major</option>
                  <option value="Minor">Minor</option>
                  <option value="Trivial">Trivial</option>
                </select>
            </div>
            <div class="form-group">
                <label for="attachment">Attachment</label>
                <input type="file" class="form-control" id="attachment" ng-model="form.attachment">
            </div>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-success center-block" ng-click="postNewIssue()">Create issue</button>
                <script>
                    function check() {
                        var title = document.getElementById("title").value;
                        var description = document.getElementById("description").value;
                        var priority = document.getElementById("priority").value;
                        var assignee = document.getElementById("assignee").value;
                        var category = document.getElementById("category").value;
                        var err = "";
                        if (title == "") err += "The issue must have a title.\n";
                        if (!['Trivial', 'Minor','Major','Critical','Blocker'].includes(priority)) 
                            err += "The priority of the issue must be Trivial, Minor, Major, Critical or Blocker.\n";
                        if (!['Task', 'Bug','Proposal','Enhancement'].includes(category))
                            err += "The category of the issue must be Task, Bug, Proposal or Enhancement.\n";
                        if (err != "") {
                            alert(err);
                        }
                        else {
                            angular.element(document.getElementById('submit')).scope().postNewIssue(title,description,priority,category,assignee);
                            var path = "/";
                            window.location.href = path;
                        }
                    }
                </script>
            </div>
            <br>
        </form>
    </div>
</div>
    