<div class="row">
      <div class="col-md-12">
            <div class="col-sm-8 well">
                  <p ><strong>Issue: </strong>{{issue.issue}}</p>
                  <p><strong>Created: </strong><span am-time-ago="issue.created_at"></span></p>
                  <p><strong>Last Update: </strong><span am-time-ago="issue.updated_at"></span></p>
                  <p><strong>Description: </strong>{{issue.description}}</p>
                  <p>
                      <button class="btn btn-primary btn-warning" ng-Click="navigateToEditIssue()"><span class="glyphicon glyphicon-pencil"></span> Edit</button> 
                      <button class="btn btn-primary btn-danger" ng-Click="deleteIssue()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                  </p>
                  <br>
                <!--<p>
                  <strong>Attachment:</strong>
                    <% if @issue.attachment? %>
                      <a target="_blank" href="<%= @issue.attachment %>"> Ver archivo </a>
                    <% else %>
                      This Issue doesn't have an attachment
                    <% end %>
                </p>-->
                
            </div>
            <div class="col-sm-4" >
                  <div class="well"> 
                        <p><strong>Created by : </strong>{{issue.user}}</p>
                        <p><strong>Assigned to : </strong>{{issue.assignee}}</p>
                        <p><strong>Category:</strong>{{issue.category}}</p>
                        <p><strong>Priority: </strong>{{issue.priority}}</p>
                        <p><strong>Status: </strong>{{issue.status}}</p>
                        <p><strong>Votes:</strong>{{issue.Votes}}</p>
                        <p>
                          <button type="button" class="btn btn-success btn-sm" ng-Click="likeIssue()">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like({{issue.UpVotes}})
                          </button>
                          <button type="button" class="btn btn-danger btn-sm" ng-Click="unlikeIssue()">
                            <span class="glyphicon glyphicon-thumbs-down"></span> Dislike({{issue.DownVotes}})
                          </button>
                        </p>
                        <div ng-if="userWatches">
                            <!-- code to render a large video block-->
                            <p><strong>Watching issue -> </strong><button class="btn btn-primary btn-warning" ng-Click="unwatchIssue()"><span class="glyphicon glyphicon-eye-close"></span> Unwatch</button></p>
                        </div>
                        <div ng-if="!userWatches">
                            <!-- code to render the regular video block -->
                            <p><strong>Not watching issue -> </strong><button ng-Click="watchIssue()" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Watch</button></p>
                        </div>
                  </div>
            </div>
    </div>
</div>
<div class="row">
      <div class="col-md-12">
            <table class="table table-hover">
             <tr ng-repeat="(id, comment) in comments">
               
                  <td>{{id+1}}) {{comment.body}}</td>
                  <td><a href="/users/{{comment.user_id}}"> {{comment.userName}} </td> 
                  <td>{{comment.hoursAgo}}</td>
                  <td ng-if="comment.userName == user.username "><button class="btn btn-danger" ng-click="deleteComment(comment)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                  <button class="btn btn-primary" id="upd" ng-click="updateClicked(comment)"><span class="glyphicon glyphicon-upload"></<span> Update</button></td>  <!--ng-click="showUpdate()"-->
                  <td id="someDiv" ng-show="comment.id==commentU.id">
                  <ng-include src="'/partials/updateComment.html'"></ng-include>
                  </td>
              </tr>
            </table>
      </div>
</div>

  
  <h2> Add a Comment: </h2>
    <!--<div ng-include="/partials/newComment.html"></div>-->
    <ng-include src="'/partials/newComment.html'"></ng-include>
