
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Fixes routing errors when refreshing some routes ie. projects/customerapi.html-->
     <base href="/" /> 

    <title>ISSUE TRAKER ASW</title>

    <!-- Bootstrap core CSS -->
    <link href="libs/bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default" ng-controller="navController">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Isuea traker ASW</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-class="{active: isActive('/home')}"><a href="/home">Home</a></li>
              <li ng-class="{active: isActive('/about')}"><a href="/about">About Us</a></li>
              <li ng-class="{active: isActive('/contact')}"><a href="/contact">Contact</a></li>
              <li ng-class="{active: isActive('/issues')}"><a href="/issues">Issues</a></li>
              <li ng-class="{active: isActive('/issues/new')}"><a href="/issues/new">New Issue</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="container-fluid">
        <div ng-view></div>
      </div>

    </div> <!-- /container -->

    <!--Angular and Dependancies-->
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="libs/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="libs/moment/moment.js"></script>
    <script src="libs/angular-moment/angular-moment.js"></script>
    
    <!--Main Controllers-->
    <script type="text/javascript" src="js/controllers/navController.js"></script>
    <script type="text/javascript" src="js/controllers/homeController.js"></script>
    <script type="text/javascript" src="js/controllers/aboutController.js"></script>
    <script type="text/javascript" src="js/controllers/contactController.js"></script>
    
    <!--Issues Controllers-->
    <script type="text/javascript" src="js/controllers/issuesController.js"></script>
    
    <!--Services-->
    <script type="text/javascript" src="js/services/Api.js"></script>
    
    <!--Tools-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    
  </body>
</html>
